html {
    background-color: #85af92;
}

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.title {
    text-align: center;
    text-align: center;
    margin: 10px;
}


h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 15px;
    padding-bottom: 3px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

h2 {
    font-weight: bold;
    font-size: 2em;
}

.content {
    background-color: #85af92;
}

.image {
    background-color: #85af92;
    text-align: center;
    padding: 10px;
}


.nav {
    background-color: #85af92;
    text-align: center;
}

.nav_button {
    width: 33.33%;
    font-size: 1.5em;
    background-color: #85af92;
    border-bottom: 1px solid black;
}

p a {
  border-top: 1px solid black;
  border-bottom : 1px solid black;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #555;
}

a:active {
  color: #555;
}

.blog_icon {
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 1.5em;
    padding: 30px;
    margin-top: 30px;
    background-color: blue;
    text-align: center;
    background-color: #85af92;
}

.blog_text {
    line-height: 1.8;
    background-color: #FBFBFC;
    padding: 30px 30px 5px 30px;
    margin-top: 30px;
}

p img{
  max-height: 280px;
  box-sizing: border-box;
  display: flex;
  margin: 3%

  }
