html {
    background-image: url(../images/grunge_wall.png);

}

* {
    box-sizing: border-box;

}

.title {
    text-align: center;
    text-align: center;
    margin: 10px;
}

h1 {
    font-family: 'Oswald', serif;
    font-weight: bold;
    letter-spacing: 15px;
    padding-bottom: 3px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h3 {
    font-family: 'Oswald', serif;
    font-size: 1.5em;
}

h2 {
    font-weight: bold;
    font-size: 2em;
      color: #000000;
}

h5 {
    font-style: italic;
    font-size: 1.3em;
}

.content {}

.image {
    text-align: center;
    padding: 10px;
}

.nav {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: light;
}

.nav_button {
    width: 33.33%;
    font-size: 1.8em;
    border-bottom: 1px solid black;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

p a {
    border-bottom: 1px dotted black;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
  color: #555;
}

a:active {
    color: #000000;
}

.blog_icon {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 2.2em;
    margin-top: 50px;
    text-align: center;

}

.blog_text {
    color: #555;
    line-height: 1.8;
    background-color: #FBFBFC;
    padding: 30px 30px 5px 30px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.blog_text a {
    border-bottom: 1px dotted black;
}

p img {
    max-height: 280px;
    box-sizing: border-box;
    display: flex;
    margin: 3%
}
